<div class="col-12 h-100 w-100 m-0">
  <div class="row m-0 h-100">
    <div class="col-3 bg-success h-100 p-4">
      <div class="row h-100">
        <div class="col-12 h-25 wimg">
          <a class="move"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#ffffff" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg></a>
          <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="#ffffff" class="bi bi-wallet2" viewBox="0 0 16 16">
            <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
          </svg>
          <a class="move"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="#ffffff" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg></a>
        </div>

        <div class="col-12 h-25">
          P
        </div>
        <div class="col-12 h-25">
          P
        </div>
        <div class="col-12 h-25 add">
         <form #f="ngForm" (ngSubmit)="onSubmit()">
          <div class="d-grid gap-2 mb-3">
            <button class="btn btn-light" type="submit"><b>ADD WALLET</b></button>
          </div>
            <select ngModel class="form-select" aria-label="type" placeholder="Enter Wallet Type..." id="type" name="type" required>
              <option value="CONTO_CORRENTE">CONTO CORRENTE</option>
              <option value="CONTO_TITOLI">CONTO TITOLI</option>
              <option value="CONTO_DEPOSITO">CONTO DEPOSITO</option>
              <option value="CRYPTO_WALLET">CRYPTO WALLET</option>
            </select>
        </form>
        </div>
      </div>
    </div>
    <div class="col-9 h-100">

    </div>
  </div>
</div>

