<div class="col-12 h-100 w-100 m-0">
  <div class="row m-0 h-100">
    <div class="landing col-6 p-5 m-0 h-100">
      <h1>HODLE</h1>
      <p class="slogan">Handle your founds in a new way.</p>
      <img src="assets/basics/3515462.jpg" alt="A man looking at some charts.">
    </div>
    <div class="auth col-12 col-md-6 p-5 m-0 h-100">
      <div class="card p-5">
          <p class="slogan">"The more you learn, the more you earn." - Warren Buffett</p>
          <img class="card-img-top" src="assets/basics/6721758.jpg" alt="Some books and a cup of coffee.">
          <button class="btn btn-success shadow my-5" [routerLink]="['/auth', 'login']">LOGIN</button>
          <button class="btn btn-success shadow" [routerLink]="['/auth', 'register']">REGISTER</button>
      </div>
    </div>
  </div>
</div>
