<div class="col-12 h-100 w-100 m-0" (click)="error = undefined">
  <div class="row m-0 h-100">
    <div class="col-3 h-100 py-4 ps-3 pe-0">
      <div class="row h-100">
        <div class="col-12 h-50 pb-3">
          <div class="card h-100">

          </div>
        </div>
        <div class="col-12 h-25">
          <div class="card h-100">

          </div>
        </div>
        <div class="col-12 h-25 pt-3">
          <div class="card h-100">

          </div>
        </div>
      </div>
    </div>
    <div class="col-9 h-100 px-4 p-2">
      <div class="row h-100">
        <div class="col-8 h-100">
          <div class="row h-100">
            <div class="col-12 h-75 p-2 pt-3">
              <div class="card h-100">
                <canvas id="totalchart"></canvas>
              </div>
            </div>
            <div class="col-12 h-25 p-2 pb-3">
              <div class="card h-100">
                <p class="card-title p-2">Latest movements:</p>
                <div class="row h-100 p-2 overflow-auto">
                  <div class="col-12" >
                    <!-- *ngFor="let movement of movs" -->
                    <!-- <div class="col-7"><b>{{movement.id}}</b> - {{movement.movementType}}</div> -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 ps-4 p-3 h-100">
          <div class="card row h-100">
            <p class="card-title ps-3">Asset allocation:</p>
            <div class="col-12" >
              <!-- *ngFor="let asset of assets" -->
              <div class="row p-1">
                <!-- <div class="col-4"><b>{{asset.ticker}}</b></div> -->
                <!-- <div class="col-3"><b>{{asset.amount | number: '1.1-3'}}</b></div> -->
                <!-- <div class="col-5">{{asset.marketValue | number: '1.2-2'}} {{currency}}</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
