<div class="col-12 h-100 p-3">
  <div class="row h-100 box p-5">
    <div class="col-12 card data p-4 mb-3" (click)="dataByCountry()">
      <h4 class="m-0">Allocation by <b>country</b></h4>
    </div>
    <div class="col-12 card data pie p-5 mb-3 h-75" *ngIf="bycountry == true">

      <div class="col-6">
        <canvas id="bycountry"></canvas>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-4">
            <p *ngFor="let c of countries"><b>{{c}}</b></p>
          </div>
          <div class="col-4">
            <p *ngFor="let v of values">{{v | number: '1.2-2'}} {{currency}}</p>
          </div>
          <div class="col-4">
            <p *ngFor="let v of values"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 card data p-4 mb-3" (click)="bytype = !bytype">
      <h4 class="m-0">Allocation by <b>type</b></h4>
    </div>
    <div class="col-12 card data p-4 mb-3" *ngIf="bytype == true">
      <h4 class="m-0">Allocation by <b>type</b></h4>
      <!-- <canvas id="bytype"></canvas> -->
    </div>
  </div>
</div>

