.name{
  font-weight: 900;
}
.change{
  border-radius: 50px;
  font-weight: 900;
}
.data{
  height: 15%;
}
.chart{
  height: 85%;
  .card{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
