<div class="col-12 h-100 w-100 m-0">
  <div class="row m-0 h-100">
    <div class="col-0 col-lg-3 bg-success h-100 p-4">
      <div class="card p-2 watch">
        <div class="card-body">
          <h4 class="card-title">WATCHLIST</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-9 h-100">
      <div class="row data">
        <div class="col-4 p-3">
          <h1 class="name">{{asset['2. Symbol']}}</h1>
        </div>
        <div class="col-4 p-3">
          <h1>{{values[yesterday]['4. close'] | number: '1.2-2'}}$</h1>
        </div>
        <div class="col-4 p-3">
          <div class="change p-3" [style.background-color]="((values[yesterday]['4. close']-values[yesterday]['1. open'])*100)/values[yesterday]['1. open'] | togpercent">
            <h2 class="text-light m-0">{{((values[yesterday]['4. close']-values[yesterday]['1. open'])*100)/values[yesterday]['1. open'] | number: '1.2-2'}}%</h2>
          </div>
        </div>
      </div>
      <div class="row chart">
        <div class="col-12 h-100 p-3">
          <canvas id="assetchart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
