.watch{
  background-color: #10583683;
  border: 0;
  border-radius: 35px;
  color: #ffffff;

  h4{
    font-weight: 900;
  }
}
.name{
  font-weight: 900;
}
.change{
  border-radius: 50px;
  font-weight: 900;
}
