<div class="col-12 h-100 w-100 m-0">
  <div class="row m-0 h-100">
    <div class="col-3 bg-success h-100 p-4">
      <div class="card p-2 watch">
        <div class="card-body">
          <h4 class="card-title">WATCHLIST</h4>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-9 h-100">
      <div class="row h-25">
        <div class="col-4 p-3">
          <h1 class="name">{{asset['2. Symbol']}}</h1>
        </div>
        <div class="col-4 p-3">
           <!-- {{values['2023-09-06']['4. close']}} € -->
        </div>
        <div class="col-4 p-3">
           <!-- {{((values['2023-09-06']['4. close'] - values['2023-09-06']['1. open'])*100)/ values['2023-09-06']['1. open']}}% -->
        </div>
      </div>
      <div class="row h-75">

      </div>
    </div>
  </div>
</div>
